# Python cache
__pycache__/
*.py[cod]
*.egg-info/

# pytest
.pytest_cache/

# virtualenv
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# plots/results
*.png
*.jpg
*.jpeg

# OS junk
.DS_Store
Thumbs.db
